# Exploratory Data analysis - EDA

In [1]:
# Importar liberías

import pandas as pd
import os

In [2]:
print(os.getcwd())

c:\Users\GrhgG\OneDrive\Documents\GitHub\final_project\src

In [3]:
# Cargar insumos

df1 = pd.read_csv('../data/raw/encuentro_oceania_2024.csv', encoding='latin1', sep='\t')
df1.head()

,Unnamed: 0,Fecha,Día de la Semana,Uds.V,Base,Impuestos,Neto,Venta/Uds,Docs,Venta/Doc
0,1,30/12/2024,1.0,271,"22,769.4","3,643.1","26,412.5",97.46309963,85,310.73529412
1,2,29/12/2024,7.0,786,"80,439.665","12,870.335","93,310",118.71501272,143,652.51748252
2,3,28/12/2024,6.0,620,"67,399.1359","10,783.8641","78,183",126.1016129,114,685.81578947
3,4,27/12/2024,5.0,492,"40,806.8961","6,529.1039","47,336",96.21138211,103,459.57281553
4,5,26/12/2024,4.0,224,"19,525.0008","3,123.9992","22,649",101.11160714,65,348.44615385

In [4]:
df2 = pd.read_csv('../data/raw/encuentro_oceania_2025.csv', encoding='latin1', sep='\t')
df2.head()

,Unnamed: 0,Fecha,Día de la Semana,Uds.V,Base,Impuestos,Neto,Venta/Uds,Docs,Venta/Doc
0,1,31/08/2025,7.0,106,"13,762.93","2,202.07","15,965",150.613208,33,483.78787879
1,2,30/08/2025,6.0,690,"74,202.12","11,872.38","86,074.5",124.745652,149,577.68120805
2,3,29/08/2025,5.0,517,"42,157.87","6,745.13","48,903",94.589942,111,440.56756757
3,4,28/08/2025,4.0,781,"58,941.35","9,430.55","68,371.9",87.544046,174,392.94195402
4,5,27/08/2025,3.0,857,"55,538.92","8,886.28","64,425.2",75.175263,199,323.74472362

In [5]:
df3 = pd.read_csv('../data/raw/interlomas_2024.csv', encoding='latin1', sep='\t')
df3.head()

,Unnamed: 0,Fecha,Día de la Semana,Uds.V,Base,Impuestos,Neto,Venta/Uds,Docs,Venta/Doc
0,1,30/12/2024,1.0,285,"24,214.6755","3,874.3245","28,089",98.55789474,66,425.59090909
1,2,29/12/2024,7.0,428,"28,986.203","4,637.797","33,624",78.56074766,63,533.71428571
2,3,28/12/2024,6.0,388,"52,072.1531","8,331.5469","60,403.7",155.67963918,55,"1,098.24909091"
3,4,27/12/2024,5.0,552,"44,366.2227","7,098.5773","51,464.8",93.23333333,84,612.67619048
4,5,26/12/2024,4.0,563,"49,370.1762","7,899.2238","57,269.4",101.72184725,90,636.32666667

In [6]:
df4 = pd.read_csv('../data/raw/interlomas_2025.csv', encoding='latin1', sep='\t')
df4.head()

,Unnamed: 0,Fecha,Día de la Semana,Uds.V,Base,Impuestos,Neto,Venta/Uds,Docs,Venta/Doc
0,1,31/08/2025,7.0,97,"19,551.73","3,128.27","22,680",233.81443299,19,"1,193.68421053"
1,2,30/08/2025,6.0,713,"100,620.07","16,099.18","116,719.25",163.7016129,113,"1,032.91371681"
2,3,29/08/2025,5.0,378,"102,622.2","16,419.55","119,041.75",314.92526455,86,"1,384.20639535"
3,4,28/08/2025,4.0,319,"52,288.8","8,366.2","60,655",190.14106583,92,659.29347826
4,5,27/08/2025,3.0,369,"40,424.16","6,467.84","46,892",127.07859079,85,551.67058824

In [7]:
df5 = pd.read_csv('../data/raw/pabellon_2025.csv', encoding='latin1', sep='\t')
df5.head()

,Unnamed: 0,Fecha,Día de la Semana,Uds.V,Base,Impuestos,Neto,Venta/Uds,Docs,Venta/Doc
0,1,31/08/2025,7.0,142,"28,607.75","4,577.25","33,185",233.697183,39,850.8974359
1,2,30/08/2025,6.0,507,"146,172.42","23,387.58","169,560",334.437870,78,"2,173.84615385"
2,3,29/08/2025,5.0,571,"73,981.06","11,836.94","85,818",150.294221,96,893.9375
3,4,28/08/2025,4.0,572,"87,983.26","14,077.34","102,060.6",178.427622,107,953.83738318
4,5,27/08/2025,3.0,458,"52,229.39","8,356.61","60,586",132.283843,87,696.3908046

In [8]:
df6 = pd.read_csv('../data/raw/satelite_2025.csv', encoding='latin1', sep='\t')
df6.head()

,Unnamed: 0,Fecha,Día de la Semana,Uds.V,Base,Impuestos,Neto,Venta/Uds,Docs,Venta/Doc
0,1,31/08/2025,7.0,133,"24,222.39","3,875.61","28,098",211.263158,34,826.41176471
1,2,30/08/2025,6.0,590,"80,663.74","12,906.26","93,570",158.593220,124,754.59677419
2,3,29/08/2025,5.0,822,"102,779.35","16,444.65","119,224",145.041363,153,779.24183007
3,4,28/08/2025,4.0,960,"68,409.74","10,945.56","79,355.3",82.661771,135,587.81703704
4,5,27/08/2025,3.0,803,"88,655.16","14,184.84","102,840",128.069738,169,608.52071006

In [9]:
df7 = pd.read_csv('../data/raw/Afluencia plazas (1).csv', encoding='latin1', sep='\t')
df7.head()

  Fecha,Interlomas,Pabellón Bosques,Oceanía,Samara,,,,,,,,,,,,,,,,,,,,,,,
0      ene-24,850k,,"1,371k",,,,,,,,,,,,,,,,,,,,,,,,
1      feb-24,850k,,"1,263k",,,,,,,,,,,,,,,,,,,,,,,,
2      mar-24,850k,,"1,400k",,,,,,,,,,,,,,,,,,,,,,,,
3      abr-24,850k,,"1,231k",,,,,,,,,,,,,,,,,,,,,,,,
4      may-24,850k,,"1,291k",,,,,,,,,,,,,,,,,,,,,,,,

In [13]:
df1.duplicated().sum()
df2.duplicated().sum()
df3.duplicated().sum()
df4.duplicated().sum()
df5.duplicated().sum()
df6.duplicated().sum()
df7.duplicated().sum()

np.int64(0)